<!DOCTYPE html>
<html>
<body>


<title>
Eagle Financial Srervices
</title>

<center><img src="http://i252.photobucket.com/albums/hh32/R-Shack/428eagles3_zpsf2685775.jpg" alt="Mountain View" style="width:304px;height:228px;"></center><br>
<center><h2><font color = "Blue">Eagle Financial Services</font></h2></center>
<center><h3><font color = "Blue">Your Midwest Financial Services Partner</font></h3></center>
<center><h3><font color = "Green">Financial Advisor Portfolio Planner</font></h3></center>
<br>
<br>
<br><br>
<h3><font color = "Green">Portfolio Planner Options</font></h3>
<a href="http://ravimdc-lkandra.rhcloud.com/eagle/customers">Select a Customer and Review Profile</a><br><br>
<a href="http://ravimdc-lkandra.rhcloud.com/eagle/stocks">Update Stock Portfolio</a><br><br>
<a href="http://ravimdc-lkandra.rhcloud.com/eagle/investments">Update Non Stock Investments</a>


</body>
</html>
