<!DOCTYPE html>
<html>
<body>


<title>
Eagle Financial Srervices
</title>

<center><img src="http://i252.photobucket.com/albums/hh32/R-Shack/428eagles3_zpsf2685775.jpg" alt="Mountain View" style="width:304px;height:228px;"></center><br>
<center><h2><font color = "Blue">Eagle Financial Services</font></h2></center>
<center><h3><font color = "Blue">Your Midwest Financial Services Partner</font></h3></center>
<center><h3><font color = "Green">Financial Advisor Portfolio Planner</font></h3></center>
<br>
<br>
<br><br>

Username:<br>
<input type="text" >
<br>
Password:<br>
<input type="password" >
<br><br>
<button onclick="window.location.href='http://ravimdc-lkandra.rhcloud.com/eagle'">Login</button>
</form> 


</body>
</html>